/* src/App.css or your styling solution */
.custom-card {
    background: linear-gradient(to right top, #3498db, #2ecc71);
    color: #ecf0f1;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .custom-card-header {
    background-color: rgba(52, 152, 219, 0.8);
    color: #ecf0f1;
  }
  
  .custom-card-subtitle {
    color: #ecf0f1;
  }
  
  .custom-card-title {
    color: #ecf0f1;
  }
    

  .insane-toolbar {
    --ion-background-color: #ff4081; /* Background color */
    --ion-color-base: #fff; /* Text color */
  }
  
  .insane-toolbar ion-title {
    font-size: 1.5em; /* Title font size */
    font-weight: bold; /* Title font weight */
    color: #fff; /* Title color */
  }
  
  .insane-toolbar ion-buttons ion-button {
    --ion-color-base: #fff; /* Button color */
    --ion-color-hover: #ff4081; /* Button hover color */
  }
  
  .insane-toolbar ion-buttons ion-icon {
    font-size: 1.5em; /* Icon size */
  }

  .header-content {
    display: flex;
  }
  
  .header-text {
    margin-left: 10px; /* Adjust margin as needed */
  }

  .custom-card {
    border-radius: 10px; /* Adjust border-radius as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust box shadow as needed */
  }
  
  .custom-card-header {
    display: flex;
    align-items: center;
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .header-text {
    margin-left: 10px; /* Adjust margin as needed */
  }
  
  .custom-card-content {
    background-color: rgba(52, 152, 219, 0.8);
    padding: 20px; /* Adjust padding as needed */
  }


.custom-background {
  --ion-background-color: #251342f6; /* Solid color background, adjust color as needed */
  color: #ffffff; /* Text color, adjust as needed */
  padding: 20px; /* Add padding to the content area, adjust as needed */
}
